*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  min-height: 100%;
}
body{
    min-height: 100%;
  background-image: url("https://cdnn21.img.ria.ru/images/155765/04/1557650483_0:105:2000:1230_1920x0_80_0_0_032afab1a2f1ac4ff00057036983cbbf.jpg");
  background-repeat: no-repeat;
  background-size: color;
  background-position: center bottom;
}

.item{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
}

.item1{
  background-color: rgba(34, 3, 54, 0.705);
}