@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Press+Start+2P&display=swap');
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  min-height: 100%;
}
body{
  font-family: 'Balsamiq Sans', cursive;
  font-size: 24px;
  line-height: 28px;
  min-height: 100vh;
  background-image: url("https://i.ytimg.com/vi/OfhcDIlOOH8/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  position: relative;
}
.item{
  width: 320px;
  height: 320px;
  overflow: hidden;
  border-radius: 92% 8% 87% 13% / 30% 53% 47% 70%;
  text-align: center;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 30%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.item1{
  background-color: rgba(34, 3, 54, 0.705);
}
.item h1{
  padding: 35% 15px 25px 15px;
}
.item p{
  padding: 0 20px
}